.rebelSkoolLogo {
  /* padding-left: 2%; */
  /* margin-left: -6px; */
}

.header {
  background: white;
  background-color: white;
  height: 6em;
  /* padding: 8px; */
  width: 10px;
}

.headerButton {
  border: none;
  /* box-shadow: 0 0 5px rgb(0 0 1); */
  background: white;
  background-color: white;
  transition: transform 2s;
}

/* button.headerButton:hover {
  transform: scale(1.1);
} */

/* .header:first-child,.nav-menu:first-child{
margin-left: 100px;
} */