.NavbarItems {
    background-color: rgb(222, 220, 220);
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    color: white;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-top:22px;
}

.nav-links {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: white;
    color: black;
    border-radius:4px; 
    transition: all 0.2s ease-out;
}

.p-button.p-component.btn-login,
.p-button.p-component.btn-signup {
    font-size: 18px;
    background-color:  red;
    color: white;
    margin-left: 10px;
    margin-bottom: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    margin-top:15px;
}

.p-button.p-component.btn-login:hover,
.p-button.p-component.btn-signup:hover{
    background-color: white;
    color: black;
    border-radius:4px; 
    transition: all 0.2s ease-out;
    border: none;
}

.headerButton {
    border: none;
    
    background: white;
    background-color: white;
    transition: transform 2s;
    margin-left: -120px;
  }

  img{
    height: 70px;
  }

  .demo {
    background-color: blue;
  }